{
  "swagger": "2.0",
  "info": {
    "title": "Secplug Connector",
    "description": "Secplug connector",
    "version": "1.0"
  },
  "host": "proxy.secplugs.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/file/jsonupload": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "statusCode"
                },
                "headers": {
                  "type": "object",
                  "properties": {
                    "x-ms-apihub-cached-response": {
                      "type": "string",
                      "description": "x-ms-apihub-cached-response"
                    },
                    "Date": {
                      "type": "string",
                      "description": "Date"
                    },
                    "Content-Length": {
                      "type": "string",
                      "description": "Content-Length"
                    },
                    "Content-Type": {
                      "type": "string",
                      "description": "Content-Type"
                    }
                  },
                  "description": "headers"
                },
                "body": {
                  "type": "object",
                  "properties": {
                    "score": {
                      "type": "integer",
                      "format": "int32",
                      "description": "score"
                    },
                    "json_report": {
                      "type": "array",
                      "items": {},
                      "description": "json_report"
                    },
                    "threat_object": {
                      "type": "object",
                      "properties": {
                        "sha256": {
                          "type": "string",
                          "description": "sha256"
                        }
                      },
                      "description": "threat_object"
                    },
                    "scan_context": {
                      "type": "object",
                      "properties": {
                        "file_name": {
                          "type": "string",
                          "description": "file_name"
                        }
                      },
                      "description": "scan_context"
                    },
                    "datetime": {
                      "type": "number",
                      "format": "float",
                      "description": "datetime"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "account_id": {
                      "type": "string",
                      "description": "account_id"
                    },
                    "api_key": {
                      "type": "string",
                      "description": "api_key"
                    },
                    "meta_data": {
                      "type": "object",
                      "properties": {
                        "plugin_info": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            }
                          },
                          "description": "plugin_info"
                        },
                        "capability": {
                          "type": "string",
                          "description": "capability"
                        },
                        "vendor_info": {
                          "type": "object",
                          "properties": {
                            "vendor_config_name": {
                              "type": "string",
                              "description": "vendor_config_name"
                            },
                            "entitlement_level": {
                              "type": "string",
                              "description": "entitlement_level"
                            },
                            "vendor": {
                              "type": "string",
                              "description": "vendor"
                            },
                            "credits": {
                              "type": "integer",
                              "format": "int32",
                              "description": "credits"
                            },
                            "params": {
                              "type": "object",
                              "properties": {},
                              "description": "params"
                            }
                          },
                          "description": "vendor_info"
                        }
                      },
                      "description": "meta_data"
                    },
                    "report_id": {
                      "type": "string",
                      "description": "report_id"
                    },
                    "verdict": {
                      "type": "string",
                      "description": "verdict"
                    },
                    "duration": {
                      "type": "number",
                      "format": "float",
                      "description": "duration"
                    },
                    "user_report_url": {
                      "type": "string",
                      "description": "user_report_url"
                    }
                  },
                  "description": "body"
                }
              }
            }
          }
        },
        "summary": "Scan files using SecPlug connector",
        "operationId": "filescan",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-key",
            "type": "string",
            "default": "36tfpWdW3b6RVKNv0FhIQ7tnOkUokwKM8RfAUVV5",
            "required": false,
            "description": "Secplug API Key",
            "x-ms-summary": "Secplug API Key"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "File name",
                  "title": "File Name"
                },
                "filetype": {
                  "type": "string",
                  "description": "filetype",
                  "title": "File Type",
                  "x-ms-visibility": "internal",
                  "default": "text/plain"
                },
                "cte": {
                  "type": "string",
                  "description": "Content Type",
                  "title": "Content Type",
                  "default": "base64",
                  "x-ms-visibility": "internal"
                },
                "data": {
                  "type": "string",
                  "description": "Base64 encoded File contents",
                  "title": "File Data ( Base64 encoded)"
                }
              },
              "required": [
                "data",
                "filename",
                "cte",
                "filetype"
              ]
            }
          }
        ]
      }
    },
    "/email/jsonupload": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "score"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "user_report_url": {
                  "type": "string",
                  "description": "user_report_url"
                }
              }
            }
          }
        },
        "summary": "Scan Emails using SecPlug connector",
        "operationId": "emailscan",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-key",
            "type": "string",
            "default": "GW5sb8sj8D9CtvVrjsTC22FNljxhoVuL1UoM6fFL",
            "required": false,
            "description": "Secplug API Key",
            "x-ms-summary": "Secplug API Key"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "File name",
                  "title": "File Name"
                },
                "cte": {
                  "type": "string",
                  "description": "Content Type",
                  "title": "Content Type",
                  "default": "base64",
                  "x-ms-visibility": "internal"
                },
                "data": {
                  "type": "string",
                  "description": "Base64 encoded File contents",
                  "title": "File Data ( Base64 encoded)"
                }
              },
              "required": [
                "data",
                "filename",
                "cte"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
